$xsm-from: 100px;
$xsm-to: 300px;

$xsm: $xsm-from - $xsm-to;
$sm : 480px;
$md : 648px;
$mdr : 890px;
$lg : 1024px;
$xl : 1280px;
$xxl : 1536px;
$primary : #0D2F3F;
$secondary : #009393;
$themeColor : #016170;
$secondary-white : #fafafa;
$black : #000;