@import "../../styles/global/contans.scss";

.wrapper {
  @media (max-width: $sm) {
    left: 0;
    background: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 15%);
  }

  @media (min-width: $md) and (max-width: $mdr){
    left: 9rem;
    background: #fff;
  }
  background: #fafafa;
  position: fixed;
  left: 9rem;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 15%);

  .container {
    @media (max-width: $sm) {
      gap: 0.5rem;
    }
    @media (min-width: $md) and (max-width: $mdr){
      padding-left: 1rem;
      padding-right: 1rem;
    }
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
  }
  .slogan {
    @media (max-width: $sm) {
      display: none;
    }

    @media (min-width: $md) and (max-width: $mdr){
      display: none;
    }
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 3rem;
    color: $black;

    :nth-child(1) {
      font-size: 24px;
      text-transform: uppercase;
    }
    :nth-child(2) {
      font-size: 14px;
      margin-top: 0.2rem;
    }
  }

  .search {
    @media (max-width: $sm) {
      width: 65%;
      box-shadow: none;
      background: #f1f1f1;
      justify-content: space-between;
    }
    @media (min-width: $md) and (max-width: $mdr){
      width: 60%;
    }
    width: 40%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: #fff;
    border-radius: 7px;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.13);

    .searchIcon {
      color: $themeColor;
    }

    input {
      @media (max-width: $sm) {
        max-width: 85%;
        font-size: 14px;
        background: #f1f1f1;
      }

      width: 85%;
      border: none;
      background: #fff;
      height: 2rem;
      outline: none;
      padding-left: 0.5rem;
    }
    .filter {
      @media (max-width: $sm) {
        display: none;
      }
      rotate: 90deg;
      align-items: center;
      cursor: pointer;

      .filterIcon {
        color: $themeColor;
      }
    }
  }

  .rightSide {
    @media (max-width: $sm) {
      gap: 0.5rem;
    }
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    .message {
      background: #e8fcff;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      padding-top: 0.2rem;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .msg {
        color: $themeColor;
      }
    }

    .notif {
      background: #e8fcff;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      padding-top: 0.2rem;
      border-radius: 10px;
      align-self: center;
      justify-content: center;
      box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.13);
      cursor: pointer;
      .notifIcon {
        color: $themeColor;
      }
    }

    .menus {
      @media (max-width: $sm) {
        display: flex;
        background: #e8fcff;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        padding-top: 0.2rem;
        border-radius: 10px;
        align-self: center;
        justify-content: center;
        box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.13);
        cursor: pointer;
      }
      display: none;
      .menuIcon {
        color: $themeColor;
      }
    }

    .profile {
      @media (max-width: $sm) {
        display: none;
      }
      max-width: 2rem;
      max-height: 2rem;
      cursor: pointer;
      .img {
        align-self: center;
        border-radius: 10px;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
