@import "../../styles/global/contans.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@400;500;600;700&display=swap");

.wrapper {
  @media (max-width: $sm) {
    bottom: 0;
    width: 100%;
    background: $themeColor;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    border-bottom-right-radius: 0;
  }
  @media (min-width: $md) and (max-width: $mdr) {
    max-width: 10rem;
  }

  background: white;
  width: 13rem;
  padding-bottom: 1.5rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 15px;
  position: fixed;
  z-index: 2000;

  box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.13);

  .container {
    @media (max-width: $sm) {
      padding-top: 0;
    }
    padding-top: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .topContent {
      @media (max-width: $sm) {
        display: none;
      }
      justify-content: center;
      display: flex;
      flex-direction: row;
      text-transform: uppercase;
      align-items: center;

      > :nth-child(2) {
        color: $themeColor;
      }

      span {
        font-size: 28px;
      }

      .logoIcons {
        @media (min-width: $md) and (max-width: $mdr) {
          display: none;
        }
        background: #e8fcff;
        padding: 0.3rem;
        border-radius: 10px;
        margin-right: 1rem;
        .logos {
          color: $themeColor;
          filter: drop-shadow(2px 0 5px #009393);
        }
      }
    }

    .menuList {
      @media (max-width: $sm) {
        padding-bottom: 0;
        padding-top: 0;
      }
      width: 100%;
      align-items: center;
      margin-bottom: 10px;
      padding-bottom: 1rem;
      padding-top: 2rem;
      ul {
        @media (max-width: $sm) {
          padding-left: 0;
          justify-content: space-between;
          flex-direction: row;
          list-style: none;
          gap: 0;
        }
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        padding-left: 1.5rem;

        li {
          @media (max-width: $sm) {
            padding-left: 0;
          }
          font-size: 16px;
          padding-left: 0.5rem;

          a {
            @media (max-width: $sm) {
              padding-top: 1rem;
              padding-left: 1rem;
              padding-right: 1rem;
              padding-bottom: 0.5rem;
              color: #fff;

              &.active {
                background: white;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                color: #009393;
                font-weight: bold;
              }
            }
            display: flex;
            gap: 1rem;
            color: #009393;
            text-decoration: none;
            align-items: center;

            p {
              @media (max-width: $sm) {
                display: none;
              }
            }
          }

          &:hover {
            color: $themeColor;
            font-weight: 700;
            font-size: 18px;
            transition: ease-in-out, 200ms;
          }
        }
      }
    }

    .groundContent {
      @media (max-width: $sm) {
        display: none;
      }
      @media (min-width: $md) {
        max-width: 90%;
      }
      display: flex;
      flex-direction: column;
      background: #bfecff;
      border-radius: 15px;
      padding-bottom: 1rem;
      padding-top: 1rem;

      .plus {
        .btnImg {
          width: 40px;
          height: 40px;
        }
      }

      span {
        font-size: 16px;
        font-weight: 600;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      p {
        font-size: 14px;
        color: $themeColor;
        text-align: center;
        font-family: "Roboto";
        line-height: 1rem;
      }

      .button {
        margin-top: 0.5rem;
        background: #fff;
        justify-content: center;
        align-items: center;
        padding: 0.3rem;
        text-align: center;
        border-radius: 15px;

        a {
          align-self: center;
          text-decoration: none;
          font-size: 13px;
          color: $themeColor;
        }
      }
    }
  }
}
