@import "../../../styles/global/contans.scss";

.wrapper {
  @media (max-width: $sm) {
    left: 0;
  }
  @media (min-width: $sm) and (max-width: $mdr) {
    left: 11rem;
  }
  position: relative;
  top: 4.5rem;
  left: 15rem;
  right: 0;
  flex: 1;
  .container {
    @media (max-width: $sm) {
      flex-direction: column-reverse;
      gap: 1rem;
    }
    @media (min-width: $md) and (max-width: $mdr) {
      gap: 1rem;
    }
    display: flex;
    width: 100%;
    gap: 2rem;

    .leftSide {
      @media (max-width: $sm) {
        max-width: 100%;
      }

      @media (min-width: $md) and (max-width: $mdr) {
        max-width: 45%;
      }

      display: flex;
      flex-direction: column;
      max-width: 50%;
      gap: 0.5rem;

      .sectionTitle {
        @media (max-width: $sm), (min-width: $md) and (max-width: $mdr) {
          margin-top: 0.5rem;
          font-size: 20px;
        }
        font-size: 24px;
        color: #009393;
      }

      .hotCard {
        @media (max-width: $sm) {
          max-width: 100%;
          height: auto;
          gap: 0.5rem;
        }
        @media (min-width: $md) and (max-width: $mdr) {
          max-width: 95%;
        }
        max-width: 90%;
        max-height: 180px;
        background: #fff;
        border-radius: 1rem;
        display: flex;
        gap: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: center;
        box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.13);

        .productImg {
          @media (max-width: $sm) {
            max-width: 40%;
          }
          @media (min-width: $md) and (max-width: $mdr) {
            max-width: 20%;
          }

          img {
            @media (max-width: $sm) {
              object-fit: fill;
            }
            @media (min-width: $md) and (max-width: $mdr) {
              object-fit: contain;
            }
            width: 90%;
            height: auto;
            object-fit: cover;
          }
        }

        .detail {
          @media (min-width: $md) and (max-width: $mdr) {
            max-width: 60%;
          }
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 0.2rem;

          span {
            @media (max-width: $sm) {
              font-size: 16px;
            }
            @media (min-width: $md) and (max-width: $mdr) {
              font-size: 16px;
            }
            font-size: 20px;
          }

          .stars {
            display: flex;
            align-items: center;

            p {
              @media (max-width: $sm) {
                font-size: 12px;
              }
              @media (min-width: $md) and (max-width: $mdr) {
                font-size: 12px;
                display: none;
              }
              font-size: 13px;
              color: #5c5c5c;
              margin-left: 0.5rem;
            }
          }
        }

        .description {
          font-size: 13px;
          color: #5c5c5c;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
          max-height: 3em;
        }

        .price {
          color: #009393;
          font-size: 14px;
          font-weight: 600;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }

        .buttons {
          @media (max-width: $sm), (min-width: $md) and (max-width: $mdr) {
            max-width: 100%;
          }
          display: flex;
          max-width: 85%;
          justify-content: space-between;

          .savebtn {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            align-items: center;
            justify-content: center;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
            border: solid #009393;
            border-radius: 0.5rem;
            background: #fff;

            .saveIcon {
              color: #009393;
              align-self: center;
            }
          }
          .addcart {
            .cartIcon {
              @media (max-width: $sm) {
                display: flex;
              }
              @media (min-width: $md) and (max-width: $mdr) {
                display: flex;
              }

              display: none;
            }

            p {
              @media (max-width: $sm) {
                display: none;
              }
              @media (min-width: $md) and (max-width: $mdr) {
                display: none;
              }
            }
            text-align: center;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border: solid #009393;
            border-radius: 0.5rem;
            background: #fff;
            justify-content: center;
            text-decoration: none;
            color: #009393;
            font-size: 16px;
          }

          .buynow {
            text-align: center;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border: solid #009393;
            border-radius: 0.5rem;
            background: #009393;
            justify-content: center;
            text-decoration: none;
            color: #fff;
            font-size: 16px;
          }
        }
      }

      .sectionTitle2 {
        @media (min-width: $md) and (max-width: $mdr) {
          padding-right: 0rem;
        }
        @media (max-width: $sm) {
          padding-right: 0rem;
        }

        padding-right: 4rem;
        justify-content: space-between;
        margin-top: 1rem;
        font-size: 20px;
        color: #009393;
        display: flex;
        align-items: end;
        gap: 1rem;

        .seeAll {
          display: flex;
          font-size: 14px;
          gap: 0.5rem;
          align-items: center;
          a {
            color: #5c5c5c;
            display: flex;
            gap: 0.5rem;
            text-decoration: none;
            .btn {
              display: flex;
            }
          }
        }
      }

      .slider {
        @media (max-width: $sm) {
          width: 100%;
          flex-wrap: wrap;
          max-height: fit-content;
          margin-top: -0.5rem;
        }

        @media (min-width: $md) and (max-width: $mdr) {
          width: 100%;
          flex-wrap: wrap;
          max-height: fit-content;
          margin-top: -0.5rem;
        }
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        max-height: 260px;
        text-align: start;
        background: #000;

        display: flex;
        height: 270px;
        width: 90%;
        background-color: transparent;
        .productcard {
          @media (max-width: $sm) {
            width: calc(50% - 10px);
            margin: 5px;
            width: 110px;
            height: 240px;
          }
          @media (min-width: $md) and (max-width: $mdr) {
            width: calc(20%);
            width: 110px;
            margin: 5px;
            height: 240px;
          }
          display: flex;
          flex-direction: column;
          height: 250px;
          width: 140px;
          background: #fff;
          border-radius: 0.5rem;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.13);

          .img {
            border-top-right-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            width: 100%;
            object-fit: cover;
            height: 6rem;
            align-self: center;
          }

          .title {
            padding: 0.5rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            max-height: 3em;
            font-weight: 600;
            font-size: 14px;
          }

          .pricerates {
            padding: 0.5rem;
            display: inline-flex;
            flex-direction: column;
            font-size: 14px;
            bottom: 0rem;
            gap: 0.5rem;
            margin-top: auto;
            width: 100%;

            .price {
              color: #5c5c5c;
              font-size: 13px;
              font-weight: 600;
            }
            .rates {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: row;
              color: #009393;
              width: 100%;

              .rating {
                gap: 0.5rem;
                display: flex;
                flex-direction: row;
              }

              .addbtn {
                display: flex;
                justify-content: center;
                padding-top: 0.3rem;
                padding-bottom: 0.3rem;
                padding-left: 0.3rem;
                padding-right: 0.3rem;
                border-radius: 999px;
                background: $themeColor;
                text-align: center;

                .btn {
                  display: flex;
                  color: #fff;
                  align-self: center;
                  justify-self: center;
                }
              }
            }
          }
        }
      }

      .exprCategory {
        @media (max-width: $sm) {
          margin-top: 0;
        }
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;

        .title {
          @media (max-width: $sm) {
            padding-right: 0rem;
          }
          @media (min-width: $md) and (max-width: $mdr) {
            padding-right: 0rem;
          }
          padding-right: 4rem;
          justify-content: space-between;
          display: flex;
          gap: 1rem;
          align-items: center;
          text-align: center;

          .label {
            font-size: 20px;
            color: #009393;
          }
          .seeAll {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            padding-right: 1rem;
            a {
              display: flex;
              gap: 0.5rem;
              text-decoration: none;
              color: #5c5c5c;
              span {
                text-align: center;
                font-size: 14px;
                font-weight: 600;
              }
              .btn {
                display: flex;
              }
            }
          }
        }

        .card {
          display: flex;
          gap: 0.5rem;

          .promoCard {
            @media (max-width: $sm) {
              width: 50%;
            }
            display: flex;
            flex-direction: column;
            height: auto;
            width: 25%;
            max-width: 140px;
            background: #009393;
            padding: 0.5rem;
            border-radius: 0.5rem;
            justify-content: center;
            align-items: center;

            a {
              display: flex;
              text-decoration: none;
              justify-content: center;
              align-items: center;

              img {
                border-radius: 0.5rem;
                width: 100%;
                height: auto;
                object-fit: fill;
              }
            }
          }
        }
      }
    }

    .rightSide {
      @media (max-width: $sm) {
        width: 100%;
      }
      @media (min-width: $md) and (max-width: $mdr) {
        width: 23%;
      }
      display: flex;
      // justify-content: center;
      gap: 1rem;
      flex-direction: column;
      width: 25%;

      .event {
        display: flex;
        padding: 1rem;
        max-height: 240px;
        border-radius: 0.5rem;
        background-image: linear-gradient(
          110deg,
          #a1d2ff 0.54%,
          rgba(0, 224, 198, 0.9) 100%
        );
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
        box-shadow: 0px 22px 40px 0px rgba(0, 0, 0, 0.13);

        span {
          @media (min-width: $md) and (max-width: $mdr) {
            font-size: 18px;
            text-align: start;
          }
          font-size: 20px;
          font-weight: 700;
          color: #016170;
          text-align: center;
        }

        .imgStack {
          display: flex;
          max-width: 70%;
          flex-direction: row;
          justify-content: center;

          .img {
            @media (min-width: $md) and (max-width: $mdr) {
              height: 100px;
            }
            margin-top: auto;
            object-fit: cover;
            height: 120px;
            margin-right: -3rem;
            filter: drop-shadow(2px 5px 10px rgb(86, 86, 86));
          }
        }

        .btnAds {
          display: flex;
          gap: 0.5rem;
          margin-top: auto;
          justify-content: end;
          align-items: center;

          a {
            display: inline-flex;
            gap: 0.5rem;
            text-decoration: none;
            align-items: center;
            font-size: 14px;
            color: $themeColor;

            span {
              font-size: 14px;
            }
          }
        }
      }
      .dailyDeals {
        @media (min-width: $md) and (max-width: $mdr) {
          width: 90%;
        }
        margin-top: 0.5rem;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .head {
          display: flex;
          justify-content: space-between;

          span {
            @media (min-width: $md) and (max-width: $mdr) {
              font-size: 14px;
            }
            font-size: 16px;
            color: #009393;
          }

          a {
            @media (min-width: $md), (max-width: $mdr) {
              font-size: 12px;
              padding-right: 0;
            }
            display: flex;
            gap: 0.5rem;
            text-decoration: none;
            align-items: center;
            color: #5c5c5c;
            font-size: 14px;
            font-weight: 600;
            padding-right: 1.5rem;
          }
        }

        .body {
          @media (min-width: $md) and (max-width: $mdr) {
            gap: 0.3rem;
            padding-left: 0;
            padding-right: 0;
          }
          display: flex;
          flex-direction: row;
          font-size: 14px;
          align-items: flex-start;
          gap: 0.5rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          .img {
            @media (min-width: $md) and (max-width: $mdr) {
              width: 40px;
              height: 40px;
              padding: 0.1rem;
            }

            background: #fff;
            padding: 0.3rem;
            width: 55px;
            height: 55px;
            border-radius: 999px;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.13);

            img {
              @media (min-width: $md) and (max-width: $mdr) {
                width: 35px;
                height: 35px;
              }
              display: block;
              width: 100%;
              height: 45px;
              margin: auto;
              object-fit: fill;
              border-radius: 100%;
            }
          }

          .detail {
            @media (min-width: $md) and (max-width: $mdr) {
              width: 50%;
            }
            width: 60%;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            justify-content: space-between;

            :nth-child(1) {
              font-size: 12px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            :nth-child(2) {
              @media (min-width: $md) and (max-width: $mdr) {
                font-size: 10px;
                
              }
              font-size: 12px;
              font-weight: 600;
              color: #5c5c5c;
            }
          }

          .price {
            @media (min-width: $md) and (max-width: $mdr) {
              font-size: 10px;
            }
            font-size: 13px;
            font-weight: 600;
            color: #5c5c5c;
            width: 15%;
          }
        }
      }
    }
  }
}
